{% extends 'base.html' %}

{% block main %}
<div class="container">
  {% for post in object_list %}
    <a href="{% url 'blog:post' post_month=post.publication_datetime|date:'n' post_slug=post.slug %}"><h3>{{ post.title }}</h3></a><hr>
    {% if post.image %}<img src="{{ post.image_url }}" alt="{{ post.title }}">{% endif %}
    <p>Posted on {{ post.publication_datetime }}</p>
    <p>{{ post.body|safe|truncatechars:100 }}</p>
    <ul class="list-inline">
      {% for tag in post.tags.all %}
        <li class="list-inline-item text-info">#{{ tag }}</li>
      {% empty %}
        <p class="text-muted">No tags</p>
      {% endfor %}
    </ul>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
