{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1>{{ post.title }}</h1>
  {% if post.image %}<p><img src="{{ post.image_url }}" alt="{{ post.title }}"></p>{% endif %}
  <p>{{ post.publication_datetime }}</p>
  <p>{{ post.body|safe }}</p>
  <ul class="list-inline">
    {% for tag in post.tags.all %}
      <li class="list-inline-item text-info">#{{ tag }}</li>
    {% empty %}
      <p class="text-muted">No tags</p>
    {% endfor %}
  </ul>
</div>

{% endblock %}
